body{
    height: 650px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #000015; 
}
.text-placeholder-1 {
	width: 400px;
	height: 272px;
	color: #120639;
	font-family: "BLOKKNeue-Regular";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}